
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav {
    background: #333;
    color: #fff;
    padding: 10px;
    margin: 0, 0 20px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    background: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.search-bar {
    margin: 20px 0;
}
.search-bar input[type="text"] {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.search-bar button {
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.grid-container-zacetna-stran{
    display: grid;
    grid-template-columns: repeat(4, 425px);
    margin-left: 5%;
    margin-top: 2.5%;
    border-radius: 10%;
}
.grid-slike{
    text-align: center;
    border-radius: 10%;
    margin: 0, 2% 0 2%;
}

.grid-slike img{
    border-radius: 7%;
    cursor: pointer;
}